/* Départ sur un viewport de 375px de largeur */
/* margin et padding : 4 valeurs : haut, droit, bas, gauche */

/* Pas de :hover hormis à partir de la media query (min-width:1024px)
 https://developer.mozilla.org/fr/docs/Web/CSS/:hover
 "Sur les écrans tactiles, :hover est problématique voire impossible. La pseudo-classe :hover n'est jamais valide, ou seulement pendant un très court instant après avoir touché l'élément."
*/

* {
    margin: 0;
    padding: 0;
    border: 0;
    line-height: 1;
    list-style: none;
    border-style: none;
    font-family: 'Raleway', sans-serif;
    font-size: 1em;
    color: #000;
    background-color: #fff;
}

a {
    text-decoration: none;
    outline: none;
}

/*a:link {

}*/

a:visited {
    color: #000;
}

/*a:focus {
    
}*/

/*a:hover {

}*/

/*a:active {
    
}*/

.container_header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
    padding: 0 0 0 0;
}

.logo {
    display: flex;
    width: 40%;
    order: 0; 
}

#logo {
    background-image: url("../images/logo/Reservia.svg");
    width: 100%;
    height: 3.5em;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    margin: 1em 0 1em 0;
}

.nav_menu {
    display: flex;
    order: 2;
    width: 100%;
}
.nav_menu_ul {
    display: flex;
    width: 100%;
}
.nav_menu_ul_li {
    display: flex;
    font-size: 1.1em;
    font-weight: 500;
    text-align: center;
    width: 100%;
    justify-content: center;
    border-bottom: 0.2em solid #F2F2F2;
}

.nav_menu_ul_li:focus {
    color: #0065FC;
    border-bottom: 0.2em solid #0065FC;
}

.nav_menu_ul_li:hover {
    color: #0065FC;
    border-bottom: 0.2em solid #0065FC;
}

.nav_menu_ul_li:hover a {
    color: #0065FC;
}

.nav_menu_link {
    
    width: 100%;
    padding: 0.7em 0 0.7em 0;
}

.subscription {
    display: flex;
    align-items: flex-start;
    order: 1;
}

.subscription_link {
    margin: auto;
    font-size: 1.1em;
    font-weight: 800;
    color: #0065FC !important;
    padding: 0.5em 0 0 0;
}

.container_search {
    display: flex;
    flex-wrap: wrap;
    margin: 2em 1em 0 1em;
}

.search_title {
    display: flex;
    flex-wrap: wrap;
}

.search_title h1 {
    margin-bottom: 0.5em;
    font-size: 1.4em;
    font-weight: 800;
    width: 100%;
}

.search_title_details {
    font-size: 1em;
    font-weight: 500;
    margin-bottom: 1em;
}

.search_form {
    display: flex;
    justify-content: space-between;
    height: 3.5em;
    width: 100%;
    margin: 1em 0;
    box-shadow: 0 0 0 0.1em #F2F2F2;
    border-radius: 1em;
}

.search_form_marker {
    background-image: url("../images/icons/map-marker.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 28%;
    background-color: #F2F2F2;
    border-radius: 1em 0 0 1em;
    padding: 0 1.7em 0 1.7em;
}

.search_form_input {
    font-size: 1.2em;
    font-weight: 800;
    width: inherit;
}

.search_form_input::placeholder {
    padding-left: 0.5em;
    color: #000;
}

.search_button {
    background-color: #0065FC;
    border-radius: 1em 1em 1em 1em;
    padding: 0 1.2em 0 1.2em;
}

.search_button_change {
    display: none;
}

.filter_form {
    display: flex;
    margin: 1em 0 0 0;
}

.filter_container {
    display: flex;
    flex-wrap: wrap;
}

.filter_form_fieldset {
    display: flex;
    width: 100%;
    margin: 0 0 1em 0;
}

.filter_form_fieldset > legend {
    font-size: 1.2em;
    font-weight: 800;
}

.filter_thing {
    display: flex;
    margin: 0 0.5em 0.5em 0;
    box-shadow: inset 0 0 0 0.15em #F2F2F2;
    /*border: 0.15em solid #F2F2F2;*/
    border-radius: 3em;
    z-index: 1;
}

.filter_thing:hover button{
    background-color: #DEEBFF;
}

.filter {
    align-self: center;
    border: 1em solid #DEEBFF;
    border-radius: 50%;
    background-color: #DEEBFF;
    z-index: 2;
    width: 1em;
}

.filter_button {
    background-color: #FFF;
    margin: 0.15em 0.8em 0.15em 0;
    padding: 0.5em ;
    /*padding: 0.9em;*/
    font-weight: 700;
}

.hostings_available {
    display: flex;
    align-items: flex-start;
    margin: 1em 0 1em 0;
}

.hostings_available_info {
    width: 1em;
    font-size: 0.7em;
    /*border: 0.15em solid #F2F2F2;*/
    box-shadow: inset 0 0 0 0.15em #F2F2F2;
    border-radius: 50%;
    margin-right: 0.5em;
    padding: 0.40em 0.5em 0.40em 0.5em;
}

.hostings_available > p {
    font-weight: 300;
    font-size: 1em;
}

.hostings {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    
}

.hostings_towns {
    display: flex;
    flex-wrap: wrap;
    /*flex-direction: column;*/
    justify-content: space-between;
    /*align-items: center;*/
    order: 1;
    padding: 0 1em 0 1em;
    
}

.hostings_towns_title {
    margin: 2em 0 1em 0;
    font-weight: 800;
    font-size: 1.3em;
    width: 100%;
}

.hosting_card {
    display: flex;
    width: 100%;
    margin: 0 0 1em 0;
}

.hosting_link {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    border: 0.15em solid #FFF;
    border-radius: 1em;
    box-shadow: 0 0 0.3em 0.1em lightgray;
}

.hosting_card_1 {
    width: 20em;
    height: 7em;
    background-image: url("../images/hosting/auberge_la_cannebiere_small.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 105%;
    border: 0.15em solid #FFF;
    border-radius: 1em;
}

.hosting_card_2 {
    width: 20em;
    height: 7em;
    background-image: url("../images/hosting/hotel_du_port_small.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 105%;
    border: 0.15em solid #FFF;
    border-radius: 1em;
}

.hosting_card_3 {
    width: 20em;
    height: 7em;
    background-image: url("../images/hosting/hotel_les_mouettes_small.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 105%;
    border: 0.15em solid #FFF;
    border-radius: 1em;
}

.hosting_card_4 {
    width: 20em;
    height: 7em;
    background-image: url("../images/hosting/hotel_de_la_mer_small.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 105%;
    border: 0.15em solid #FFF;
    border-radius: 1em;
}

.hosting_card_5 {
    width: 20em;
    height: 7em;
    background-image: url("../images/hosting/auberge_le_panier_small.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 105%;
    border: 0.15em solid #FFF;
    border-radius: 1em;
}

.hosting_card_6 {
    width: 20em;
    height: 7em;
    background-image: url("../images/hosting/hotel_chez_amina_small.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 105%;
    border: 0.15em solid #FFF;
    border-radius: 1em;
}

.legend_title {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0.5em 0 0.5em 1em;
}

.hosting_details {
    font-weight: 400;
    font-size: 0.8em;
    padding: 0.5em 0 0.5em 0;
}

.show_more {
    font-weight: 800;
    margin: 1em 0 2em 0;
}

.hostings_popular {
    display: flex;
    flex-wrap: wrap;
    /*justify-content: space-between;
    align-items: center;*/
    background-color: #F2F2F2;
    padding: 0 1em 1em 1em;
}

.most_popular {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 2em 0 1em 0;
    font-size: 1.3em;
    font-weight: 800;
    background-color: #F2F2F2;
}

.trendy {
    display: flex;
    width: 100%;
    margin: 0 0 0.8em 0;
    background-color: #F2F2F2;
}

.trendy_link {
    display: flex;
    width: 100%;
    border: 0.15em solid #FFF;
    border-radius: 1em;
    box-shadow: 0 0 0.3em 0.1em lightgray;
}

.trendy_1 {
    width: 8em;
    height: 8em;
    background-image: url("../images/hosting/hotel_le_soleil_du_matin_small.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 170%;
    border: 0.15em solid #FFF;
    border-radius: 1em 0 0 1em;
}

.trendy_2 {
    width: 8em;
    height: 8em;
    background-image: url("../images/hosting/au_coeur_de_l_eau_chambres_d_hotes_small.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 150%;
    border: 0.15em solid #FFF;
    border-radius: 1em 0 0 1em;
}

.trendy_3 {
    width: 8em;
    height: 8em;
    background-image: url("../images/hosting/hotel_tout_bleu_et_blanc_small.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 110%;
    border: 0.15em solid #FFF;
    border-radius: 1em 0 0 1em;
}

.legend_title_trendy {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 1em 1em 1em 0.8em;
}

.hosting_title {
    font-weight: 800;
    font-size: 0.9em;
}

.hosting_details_trendy {
    font-weight: 400;
    font-size: 0.8em;
    padding: 0 0 2.5em 0;
}

.price {
    font-weight: 600;
}

.cards_stars {
    font-size: 0.65em;
}

.fas-personal {
    color: #0065FC;
    text-align: center;
}

.search_button_glass {
    color: #fff;
    background-color: #0065FC;
}

.most_popular_chart-line {
    color: #000;
    background-color: #F2F2F2;
    font-size: 1.1em;
    align-self: center;
}

.grey_star {
    color: lightgrey;
}

.activities {
    display: flex;
    flex-wrap: wrap;
    margin: 1em 1em 1em 1em;
}

.activities_title {
    width: 100%;
    font-size: 1.3em;
    font-weight: 800;
    margin: 0 0 1em 0;
}

.activity {
    display: flex;
    width: 100%;
    flex-direction: column;
}

.activity_link {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    box-shadow: 0 0 0.3em 0.1em lightgray;
    border-radius: 1em 1em 1em 1em;
    margin: 0 0 1em 0;
}

.activity_title {
    display: flex;
    font-weight: 800;
    font-size: 0.85em;
    margin: 1.5em 0 1em 1em;
    width: 50%;
}

.activity_1 {
    width: 20.5em;
    height: 8em;
    background-image: url("../images/activity/vieux_port_small.jpg");
    background-repeat: no-repeat;
    background-position: 0 -1em;
    background-size: 100%;
    border-radius: 1em 1em 0 0;
}

.activity_2 {
    width: 20.5em;
    height: 8em;
    background-image: url("../images/activity/fort_de_pomegues_small.jpg");
    background-repeat: no-repeat;
    background-position: 0 -9.8em;
    background-size: 100%;
    border-radius: 1em 1em 0 0;
}

.activity_3 {
    width: 20.5em;
    height: 8em;
    background-image: url("../images/activity/iles_du_frioul_small.jpg");
    background-repeat: no-repeat;
    background-position: 0 -1em;
    background-size: 100%;
    border-radius: 1em 1em 0 0;
}

.activity_4 {
    width: 20.5em;
    height: 8em;
    background-image: url("../images/activity/parc_national_des_calanques_small.jpg");
    background-repeat: no-repeat;
    background-position: 0 -1.2em;
    background-size: 100%;
    border-radius: 1em 1em 0 0;
}

.activity_5 {
    width: 20.5em;
    height: 8em;
    background-image: url("../images/activity/notre_dame_de_la_garde_small.jpg");
    background-repeat: no-repeat;
    background-position: 0 -1em;
    background-size: 100%;
    border-radius: 1em 1em 0 0;
}

.activity_6 {
    width: 20.5em;
    height: 8em;
    background-image: url("../images/activity/parc_longchamp_small.jpg");
    background-repeat: no-repeat;
    background-position: 0 -2em;
    background-size: 100%;
    border-radius: 1em 1em 0 0;
}

@media (min-width: 600px) {
    #logo {
        height: 5em;
    }

    .subscription {
        width: 20%;
    }

    .subscription_link {
        font-size: 1.2em;
    }

    .nav_menu_ul_li {
        font-size: 1.2em;
    }

    .search_form {
        justify-content: center;
        width: max-content;
    }

    .search_form_input {
        font-size: 1.3em;
    }

    .hosting_link {
        align-items: center;
    }

    .hostings_towns_title {
        text-align: center;
    }
}

@media (min-width: 1024px) {
    .container_header {
        flex-wrap: nowrap;
        height: 5em;
    }

    .logo {
        width: 15%;
        margin: 0 48% 0 0;
    }

    #logo {
        height: 2.5em;
        margin:  2em 0 1em 0;
    }

    .nav_menu {
        width: 25%;
        font-size: 0.75em;
    }

    .nav_menu_ul_li {
        width: 50%;
        height: 100%;
        align-items: center;
        margin: 0 1em 0 1em;
        padding: 0 0 0 0;
        border-top: 0.2em solid #FFF;
        border-bottom: none;
    }

    /*.nav_menu_link {
       border: none;
    }

    .nav_menu_link:hover {
        border: none;
     }

    .nav_menu_link:focus {
        border: none;
     }*/

    .nav_menu_ul_li:hover {
        border-top: 0.2em solid #0065FC;
        color: #0065FC;
        border-bottom: none;
    }

    .nav_menu_ul_li:focus {
        border-top: 0.2em solid #0065FC;
        color: #0065FC;
        border-bottom: none;
    }

    .subscription {
        width: 10%;
        order: 2;
        margin: 0 1em 0 0;
    }

    .subscription_link {
        font-size: 0.9em;
    }

    .container_search {
        margin: 2em 2em 0 2em;
    }

    .search_title {
        width: 100%;
    }

    h1 {
        font-size: 1.3em;
        font-weight: 800;
    }

    .search_title_details {
        font-size: 1em;
        font-weight: 500;
    }

    .search_form {
        margin: 0;
        height: 3em;
    }

    .search_form_marker {
        background-size: 20%;
    }

    .search_form_input {
        font-size: 1em;
    }

    .search_form_input::placeholder {
        padding-left: 1em;
        color: #000;
    }

    .search_button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: max-content;
        border-radius: 0 1em 1em 0;
    }

    .fa-search {
        display: none;
    }

    .search_button_change {
        display: initial;
        background-color: #0065FC;
        color: #FFF;
        font-weight: 600;
        padding: 0 1em 0 1em;
    }

    .filter_form {
        width: 100%;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .filter_container {
        width: 55em;
        justify-content: space-between;
    }

    .filter_form_fieldset {
        width: auto;
    }

    .filter_form_fieldset legend {
        display: flex;
        align-items: center;
        font-size: 1em;
        height: 100%;
    }

    .hostings_available > p {
        font-size: 0.9em;
        margin: auto;
    }

    .hostings {
        flex-direction: row;
    }

    .hostings_towns {
        order: initial;
        background-color: #F2F2F2;
        margin: 0 1em 0 2em;
        padding: 0 2em 0 2em;
        width: 70%;
        border-radius: 1em;
    }
    .hostings_towns_title {
        text-align: start;
        background-color: #F2F2F2;
        font-size: 1em;
    }

    .hosting_card {
        width: 30%;
        flex-direction: column;
        align-items: center;
    }

    .hosting_card_img {
        width: 11em;
        height: 5em;
    }

    .legend_title {
        margin: 0.5em 0 0.5em 0.5em;
        font-size: 0.8em;
        width: 100%;
        align-items: baseline;
    }

    .show_more {
        background-color: #F2F2F2;
        font-size: 0.9em;
        width: 30%;
    }



    .hostings_popular {
        width: 30%;
        margin: 0 2em 0 1em;
        border-radius: 1em;
    }

    .most_popular {
        font-size: 1em;
    }

    .trendy_img {
        width: 7em;
        height: 6em; 
    }

    .trendy_2 {
        width: 6em;
    }

    .legend_title_trendy {
        font-size: 0.8em;
    }
}

@media (min-width: 1500px) {
    .hosting_link {
        justify-content: center;
    }

    .legend_title {
        width: 100%;
        align-items: center;
    }
}