/* Départ sur un viewport de 375px de largeur */
/* margin et padding : 4 valeurs : haut, droit, bas, gauche */
* {
    margin: 0;
    padding: 0;
    border: 0;
    line-height: 1;
    list-style: none;
    border-style: none;
    font-family: 'Raleway', sans-serif;
    font-size: 1em;
    color: #000;
    background-color: #fff;
}

a {
    text-decoration: none;
    outline: none;
}

/*a:link {

}*/

a:visited {
    color: #000;
}

/*a:focus {
    
}*/

/*a:hover {

}*/

/*a:active {
    
}*/

.container_header {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 0 0 0 0;
}

.logo {
    display: flex;
    width: 40%;
    order: 0; 
    margin: 0 7em 0 0;
}

#logo {
    background-image: url("../images/logo/Reservia.svg");
    width: 100%;
    height: 3.5em;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    margin: 1em 0 1em 0;
}

.nav_menu {
    display: flex;
    order: 2;
    width: 100%;
}
.nav_menu_ul {
    display: flex;
    width: 100%;
}
.nav_menu_ul_li {
    display: flex;
    font-size: 1.1em;
    font-weight: 500;
    text-align: center;
    width: 100%;
    justify-content: center;
}

.nav_menu_link {
    border-bottom: 0.2em solid #F2F2F2;
    width: 100%;
    padding: 0.7em 0 0.7em 0;
}

.nav_menu_link:focus {
    color: #0065FC;
    border-bottom: 0.2em solid #0065FC;
}

.nav_menu_link:hover {
    color: #0065FC;
    border-bottom: 0.2em solid #0065FC;
}

.subscription {
    display: flex;
    align-items: stretch;
    width: 26%;
    order: 1;
    
}

.subscription_link {
    margin: auto;
    font-size: 1.1em;
    font-weight: 800;
    color: #0065FC !important;
    padding: 0.5em 0 0 0;
}

.container_search {
    display: flex;
    flex-wrap: wrap;
    padding: 4em 2em;
}

.search_title {
    display: flex;
    flex-wrap: wrap;
}

.search_title h1 {
    margin-bottom: 0.5em;
    font-size: 3.9em;
    font-weight: 800;
}

.search_title_details {
    font-size: 1.7em;
    font-weight: 500;
    margin-bottom: 1em;
}

.search_form {
    display: flex;
    justify-content: center;
    height: 7.5em;
    width: 100%;
    margin: 3em 0;
}

.search_form_marker {
    width: 6em;
    background-image: url("../images/icons/map-marker.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 30%;
    background-color: #F2F2F2;
    flex: 1 2 auto;
    border-radius: 2em 0 0 2em;
}

.search_form_input {
    font-size: 3em;
    font-weight: 700;
    flex: 6 3 auto;
    border: 0.1em solid #F2F2F2;
}

.search_form_input::placeholder {
    padding-left: 1em;
    color: #000;
}

.search_button {
    width: 6em;
    background-color: #0065FC;
    flex: 1 2 auto;
    border-radius: 2em;
}

.filter_form {
    display: flex;
}

.filter_form_fieldset {
    display: flex;
}

.filter_form_fieldset > legend {
    font-size: 3em;
    font-weight: 800;
}

.filter_container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 2em 0;
}

.filter_thing {
    display: flex;
    height: 7em;
    margin: 0 1.5em 1.5em 0;
    border-top: 0.4em solid #F2F2F2;
    border-bottom: 0.4em solid #F2F2F2;
    border-right: 0.4em solid #F2F2F2;
    border-radius: 3em;
}

.filter_thing > span {
    display: flex;
}

.filter {
    align-self: center;
    flex-direction: column;
    justify-content: center;
    width: 7em;
    height: 7em;
    border: 0.4em solid #DEEBFF;
    border-radius: 50%;
    background-color: #DEEBFF;
    z-index: 2;
}

.filter_button {
    background-color: #FFF;
    padding: 0.5em 0.5em;
    font-weight: 700;
    font-size: 2.8em;
    z-index: 1;
}

.hostings_available {
    display: flex;
}

.hostings_available > span {
    display: flex;
}

.hostings_available > p {
    display: flex;
    font-weight: 300;
    font-size: 1.5em;
}

.hostings {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    
}

.hostings_town {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    order: 1;
}

.hostings_popular {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
    background-color: #F2F2F2;
}

.hostings_popular > h2 {
    display: flex;
    justify-content: space-between;
    padding: 4em 2em 3em 2em;
    flex-grow: 1;
    font-size: 2.2em;
    font-weight: 600;
}

.hostings_popular a {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    margin: 0 2em 1em 2em;
    border: 0.5em solid #FFF;
    border-top-left-radius: 1.5em;
    border-bottom-left-radius: 1.5em;
    border-top-right-radius: 2em;
    border-bottom-right-radius: 2em;
    height: 12em;
}

.hostings_popular a figure {
    display: flex;
    flex-grow: 1;
    background-color: #FFF;
    justify-content: space-between;
}

.hostings_popular a figure img {
    border-top-left-radius: 1.5em;
    border-bottom-left-radius: 1.5em;
    /*flex-grow: 1;
    flex-shrink: 2;
    flex-basis: 10%;*/
    width: 38%;
}

/* src="images/hosting/hotel_le_soleil_du_matin_small.jpg" */
.trendy {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#img_1 {
    display: flex;
    flex-direction: row;
    background-image: url("../images/hosting/hotel_le_soleil_du_matin_small.jpg");
    background-repeat: no-repeat;
    background-position: center;
    width: 37%;
    
}


.legend_title {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-grow: 1;
    padding-left: 13.5em;
}

.legend_title > p {
    flex-grow: 1;
    flex-shrink: 1;
    width: 15em;
}

.hosting_title {
    font-weight: 600;
    padding: 1em 3em 1em 0;
    font-size: 1.6em;
}

.hosting_details {
    font-weight: 300;
    font-size: 1.4em;
}

.hosting_details span {
    font-weight: 500;
}

.fas {
    color: #0065FC;
    text-align: center;
}

.fa-search {
    color: #fff;
    background-color: #0065FC;
    font-size: 2.5em;
}

.fa-info {
    border: 0.2em solid #F2F2F2;
    border-radius: 50%;
    flex-direction: column;
    justify-content: center;
    font-size: 1.1em;
    width: 3em;
    height: 2em;
    margin-right: 1em;
}

.fa-chart-line {
    color: #000;
    font-size: 2.5em;
    align-self: center;
}

/*@media (min-width: 480px) {
    
}*/

@media (min-width: 600px) {
    .logo {
        margin: 0 14em 0 0;
    }

    #logo {
        height: 5em;
    }

    .subscription {
        width: 20%;
    }

    .subscription_link {
        font-size: 1.2em;
    }

    .nav_menu_ul_li {
        font-size: 1.2em;
    }
}

@media (min-width: 1024px) {
    .logo {
        width: 15%;
        margin: 0 20em 0 0;
    }

    #logo {
        height: 2.5em;
    }

    .nav_menu {
        width: 25%;
        font-size: 0.4em;
    }

    .nav_menu_ul_li {
        width: 50%;
        height: 100%;
        align-items: center;
        margin: 0 1em 0 1em;
        padding: 0 0 0 0;
        font-size: 1.9em;
        border-top: 0.2em solid #FFF;
    }

    .nav_menu_link {
       border: none;
    }

    .nav_menu_link:hover {
        border: none;
     }

    .nav_menu_link:focus {
        border: none;
     }

    .nav_menu_ul_li:hover {
        border-top: 0.2em solid #0065FC;
    }

    .nav_menu_ul_li:focus {
        border-top: 0.2em solid #0065FC; 
    }

    .subscription {
        width: 10%;
        order: 2;
        justify-content: flex-end;
        margin: 0 0 0 1em;
    }

    .subscription_link {
        font-size: 0.8em;
    }

    h1 {
        font-size: 1.3em;
        font-weight: 800;
    }

    .search_title_details {
        font-size: 0.7em;
        font-weight: 400;
    }
}

@media (min-width: 1280px) {
    .logo {
        margin: 0 25em 0 0;
    }

    .nav_menu {
        font-size: 0.5em;
    }

    .subscription_link {
        font-size: 1em;
    }
}

@media (min-width: 1920px) {
    .logo {
        margin: 0 40em 0 0;
    }

    #logo {
        height: 4em;
    }

    .nav_menu {
        font-size: 0.7em;
    }

    .subscription {
        margin: 0 0 0 1.36em;
    }

    .subscription_link {
        font-size: 1.3em;
    }
}